.customNavbar{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: white;
}
.imgProfile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}