.commentInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commentInput__textArea{
    border: none;
    width: 100%;
    resize: none;
    margin: 8px 0px;
    font-family: "Poppins", sans-serif;
}
.commentInput__textArea:focus{
    outline: none;
}
.commentInput__btnComment{
    border: none;
    background-color: white;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.commentInput__btnComment:focus{
    outline: none;
}